[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = My project
[access "refs/*"]
	owner = group user/vneelavara
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/vneelavara
	label-Verified = -1..+1 group user/vneelavara
	push = group user/vneelavara
	read = group user/vneelavara
	rebase = group user/vneelavara
	removeReviewer = group user/vneelavara
	submit = group user/vneelavara
[access "refs/heads/*"]
	create = group user/vneelavara
	push = +force group user/vneelavara
	pushMerge = group user/vneelavara
	read = group user/vneelavara
[access "refs/tags/*"]
	push = group user/vneelavara
	push = +force group user/vneelavara
